<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <title>Choose items</title>
</head>
<body>
<div class="container">
    <h2>Hello <span sec:authentication="principal.username">Username</span>!</h2>
    <div th:if="${order.goodsMap.isEmpty()} == false"><p>You have already chosen:</p>
        <table>
            <tbody>
            <tr th:each="entry, itrStat: ${order.goodsMap}">
                <td th:text="${itrStat.count} +')'">index</td>
                <td th:text="${entry.key.title}">Title</td>
                <td id="price" th:text="${entry.key.price}+'$'">Price</td>
                <td th:text="${entry.value}">Count</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p th:if="${order.goodsMap.isEmpty()} == true">Make your order</p>
    <form th:action="@{goods}" method="POST">
        <select id="goods" name="goods">
            <option th:each="good: ${goods}" th:value="${good.id}"
                    th:text="${good.title} + ' ' + ${good.price} + ' $'">Some item</option>
        </select><br>
        <input type="submit" value="Add item"/>
        <input type="submit" value="Submit" th:formaction="checkout" formmethod="POST">
    </form>
</div>
</body>
</html>