<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
    <title>Login page</title>
</head>
<body>
<div class="container" style="text-align: center;">
    <h2>Welcome to Online Shop</h2>
    <div>
        <form th:action="@{login}" method="POST">
            <input type="text" id="username" name="username" placeholder="Enter your name"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="checkbox" name="isAccept" id="isAccept">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <label for="isAccept">I agree with the terms of service</label>
            <input type="submit" value='Enter'>
        </form>
        <p id="error" th:if="${param.error} != null" th:text="#{invalid.username}">Error massage.</p>
    </div>
</div>
</body>
</html>
