<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <title>Error page</title>
</head>
<body>
<div class="container">
    <h2>404 Page Not Found...</h2>
    <p>You shouldn't be here</p>
    <p><a th:href="@{/login}">Start page</a></p>
</div>
</body>
</html>