<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <title>Checkout page</title>
</head>
<body>
<div class="container">
    <h2>Dear <span sec:authentication="principal.username">Username</span>, your order:</h2>
    <table>
        <tbody>
            <tr th:each="entry, itrStat: ${order.goodsMap}">
                <td th:text="${itrStat.count} +')'"></td>
                <td th:text="${entry.key.title}"></td>
                <td id="price" th:text="${entry.key.price}+' $'"></td>
                <td th:text="${entry.value}"/>
            </tr>
        </tbody>
    </table>
    <p> Total: $ <span th:text="${order.totalPrice}" /></p>
</div>
</body>
</html>