<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>New ticket for approval</title>
</head>
<body>
<div class="container">
    <h3>Dear Managers,</h3>
    <p>New ticket <a th:href="@{${baseUrl}+'/ticketOverview/'+${ticket.id}}" th:text="${ticket.id}">ID</a> is waiting for your approval.</p>
</div>
</body>
</html>