<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Ticket was approved</title>
</head>
<body>
<div class="container">
    <h3>Dear Users,</h3>
    <p>Ticket <a th:href="@{${baseUrl}+'/ticketOverview/'+${ticket.id}}" th:text="${ticket.id}">ID</a> was approved by the Manager.</p>
</div>
</body>
</html>