<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Ticket was cancelled</title>
</head>
<body>
<div class="container">
    <h3>Dear <span th:text="${recipient.firstName}">first name</span> <span th:text="${recipient.lastName}">last name</span>,</h3>
    <p>Ticket <a th:href="@{${baseUrl}+'/ticketOverview/'+${ticket.id}}" th:text="${ticket.id}">ID</a> was cancelled by the Manager.</p>
</div>
</body>
</html>