<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <title>Choose items</title>
    <script th:src="@{js/lib/jquery.min.js}"></script>
    <script th:src="@{js/lib/jquery.cookie.js}"></script>
</head>
<body>
<div class="container">
    <h2>Hello <span id="username">Username</span>!</h2>
    <div id="order"><p>Make your order</p></div>

        <select id="goods" name="goods">
        </select><br>
        <input type="submit" value="Add item" id="addgood" formmethod="POST"/>
        <input type="submit" value="Submit" id="checkout" method="POST">
    <p id="error" ></p>
</div>

<script async th:src="@{js/cart.js}"></script>
</body>
</html>