<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
    <title>Login page</title>
    <script th:src="@{js/lib/jquery.min.js}"></script>
    <script th:src="@{js/login.js}"></script>
</head>
<body>
<div class="container" style="text-align: center;">
    <h2>Welcome to Online Shop</h2>
    <div>
        <form  method="POST" id="loginform" th:action="login">
            <input type="text" id="username" name="username" placeholder="Enter your name" ><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="submit" value='Enter' id="loginbutton">
        </form>
        <p id="error" th:if="${param.error} != null" th:text="#{invalid.username}">Error massage.</p>
    </div>
</div>
</body>
</html>
