<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <title>Checkout page</title>
    <script th:src="@{js/lib/jquery.min.js}"></script>
    <script th:src="@{js/lib/jquery.cookie.js}"></script>
</head>
<body>
<div class="container">
    <h2>Dear <span id="username">Username</span>, your order:</h2>
    <div id="order"></div>
    <p> Total: $ <span id="totalPrice" /></p>
</div>
<script async th:src="@{js/order.js}"></script>
</body>
</html>