body {
    alignment: center;
    font-family: Arial;
}
h2 {
    font-weight: normal;
}
div {
    width: 350px;
    margin: 0 0 0 30%;
}

input[type=submit], input[type=text]  {
    display: block;
    width: 150px;
    border: black 2px solid;
    margin-top: 20px;
    padding: 5px;
}
input[type=checkbox]  {
    display: block;
    border: black 2px solid;
    margin-top: 20px;
    padding: 5px;
}
input[type=submit], input[type=checkbox] {
    border-radius: 5px;
    display: inline-block;
}
select {
    width: 250px;
    padding: 5px;
    border: black 2px solid;
    border-radius: 5px;
}
table {
    margin-bottom: 20px;
    width: 100%;
}
.price {
    text-align: left;
}