body {
    margin: 0px;
}
.header {
    position: relative;
    height:425px;
    overflow: hidden;
    background-color: rgb(220, 220, 220);
    display: flex;
}

.flex-center-social-icons-container {
    transform: rotate(-3deg);
    display: -webkit-flex; 
    display: flex; 
    flex-wrap: wrap;
    margin: -20px;    

}

.icon {
    width: 84px;
    height: 84px;
    float: left;
    background: url(icons.png) no-repeat;
    border-radius: 30%;
    transform: scale(0.6);
}
  
.facebook1 {
    background-position: 0 0px;
}
  
.facebook2 {
    background-position: 0 -84px;
}
  
.facebook3 {
    background-position: 0 -168px; 
}

.flickr1 {
    background-position: -84px 0px;
}
  
.flickr2 {
    background-position: -84px -84px;
}
  
.flickr3 {
    background-position: -84px -168px; 
}

.dribbble1 {
    background-position: -168px 0px;
}
  
.dribbble2 {
    background-position: -168px -84px;
}
  
.dribbble3 {
    background-position: -168px -168px; 
}

.google1 {
    background-position: -252px 0px;
}
  
.google2 {
    background-position: -252px -84px;
}
  
.google3 {
    background-position: -252px -168px; 
}

.linkedin1 {
    background-position: -336px 0px;
}
  
.linkedin2 {
    background-position: -336px -84px;
}
  
.linkedin3 {
    background-position: -336px -168px; 
}

.pinterest1 {
    background-position: -420px 0px;
}
  
.pinterest2 {
    background-position: -420px -84px;
}
  
.pinterest3 {
    background-position: -420px -168px; 
}

.rss1 {
    background-position: -504px 0px;
}
  
.rss2 {
    background-position: -504px -84px;
}
  
.rss3 {
    background-position: -504px -168px; 
}

.skype1 {
    background-position: -588px 0px;
}
  
.skype2 {
    background-position: -588px -84px;
}
  
.skype3 {
    background-position: -588px -168px; 
}

  .twitter1 {
    background-position: -672px 0px;
  }
  
  .twitter2 {
    background-position: -672px -84px;
  }
  
  .twitter3 {
    background-position: -672px -168px; 
  }

  .vimeo1 {
    background-position: -756px 0px;
  }
  
  .vimeo2 {
    background-position: -756px -84px;
  }
  
  .vimeo3 {
    background-position: -756px -168px; 
  }

  .youtube1 {
    background-position: -840px 0px;
  }
  
  .youtube2 {
    background-position: -840px -84px;
  }
  
  .youtube3 {
    background-position: -840px -168px; 
  }



  
.mainfont{
    z-index:1;
    background-color: white;
    position: absolute;
    width: min-content ;
    min-width: 32vw;
    opacity: 0.95;
    height: auto;
    outline: 3px black ridge; 
    outline-offset: -10px; 
    padding-left:  10px; 
    padding-right:  10px; 
    top: 40%; 
    transform: translateY(-50%); 
    left:50% ; 
    transform: translateX(-50%); 
}

.text {
    background: url(texture.jpg);
    background-size: cover;
}
  
h1 { 
    font-family: "Mistral"; 
    font-weight: normal; 
    text-align:center;
    color: #000;
    background: #fff;
    mix-blend-mode: lighten;
}


  
.mainbuttonblock1 {
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 5px;
    border: 1px solid gray;
    display: block;
}
    
.mainbuttonblock2 {
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 5px;
    background-color: #333333;
    display: block;
}
    
.innerbuttonblock1 {
    margin-left: 40px;
    padding-top: 30px;
    clear: left;
}
    
.innerbuttonblock2 {
    margin-top: 10px;
    margin-left: 40px;
    clear: left;
}
    
.innerbuttonblock3 {
    margin-top: 10px;
    margin-left: 40px;
    float: none;
    padding-bottom: 30px;
}
    
button {
    -moz-border-radius:  5px; /* закругление Firefox */
    -webkit-border-radius:  5px; /* закругление Safari 4 */
    border-radius:  5px; /* закругление IE 9, Safari 5, Chrome */
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    color: rgb(255,255,255);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
}
    
.pink-btn {
    background: -moz-linear-gradient(#E954AB, #E52094); /* градиент Firefox */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#E954AB), to(#E52094)); /* градиент Safari 5, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E954AB', endColorstr='#E52094'); /* градиент IE  */
    font-size: 1.5em;
    font-weight: 700;
}
    
.green-btn {
    background: -moz-linear-gradient(#A7CB39, #9CC423); /* градиент Firefox */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#A7CB39), to(#9CC423)); /* градиент Safari 5, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A7CB39', endColorstr='#9CC423'); /* градиент IE  */
    font-size: 1.0em;
    font-weight: 700;
}
    
.blue-btn {
    background: -moz-linear-gradient(#5D9EE9, #418FE7); /* градиент Firefox */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#5D9EE9), to(#418FE7)); /* градиент Safari 5, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D9EE9', endColorstr='#418FE7'); /* градиент IE  */
    font-size: 0.6em;
    font-weight: 700;
}
    
.red-btn {
    background: -moz-linear-gradient(#EC5959, #EB3D3D); /* градиент Firefox */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#EC5959), to(#EB3D3D)); /* градиент Safari 5, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EC5959', endColorstr='#EB3D3D'); /* градиент IE  */
    font-size: 0.6em;
    font-weight: 700;
}
    
.orange-btn {
    background: -moz-linear-gradient(#FF823E, #FF6E1D); /* градиент Firefox */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FF823E), to(#FF6E1D)); /* градиент Safari 5, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF823E', endColorstr='#FF6E1D'); /* градиент IE  */
    font-size: 0.7em;
    font-weight: 700;
}
    
.yellow-btn {
    background: -moz-linear-gradient(#FFC74C, #FFBE2D); /* градиент Firefox */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFC74C), to(#FFBE2D)); /* градиент Safari 5, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC74C', endColorstr='#FFBE2D'); /* градиент IE  */
    font-size: 0.7em;
    font-weight: 700;
}
    
    
.mainbuttonblock2 .blue-btn {
    font-size: 0.5em;
}

    
.mainbuttonblock2 .orange-btn {
    font-size: 0.5em;
}
    
.mainbuttonblock2 .yellow-btn {
    font-size: 0.5em;
}
    