<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">

    <title>Order page</title>
    <style>
        body {
            alignment: center;
            font-family: Geneva, Arial, Helvetica, sans-serif;
        }
        h2 {
            font-weight: normal;
        }
        .container {
            width: 350px;
            margin: 0 0 0 30%;
        }
        table {
            margin-bottom: 20px;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Dear <span th:text="${order.user.login}">Username</span>, your order:</h2>
    <table>
        <tbody>
        <tr th:each="entry, itrStat: ${order.goodsMap}">
            <td th:text="${itrStat.count} +')'"></td>
            <td th:text="${entry.key.title}"></td>
            <td id="price" th:text="${entry.key.price}+' $'"></td>
            <td th:text="${entry.value}"/>
        </tr>
        </tbody>
    </table>
    <p> Total: $ <span th:text="${order.totalPrice}" /></p>
</div>
</body>
</html>