.ReactTable .-sort-desc {
      box-shadow: none !important;
      
}
  
.ReactTable .-sort-asc {
      box-shadow: none !important;
}

.ReactTable .-sort-desc:before {
    content: "▼";
    float: right;
}

.ReactTable .-sort-asc:before {
    content: "▲";
        float: right;
}
